# =========================================================
# PLATFORMIO / ESP32
# =========================================================

.pio/
.vscode/

# Arquivos temporários
*.pyc
*.o
*.obj
*.elf
*.map

# =========================================================
# KICAD
# =========================================================

# Lock files
*.lck

# Arquivos temporários/cache
fp-info-cache
*.tmp
*.bak
*.bck

# Preferências locais do usuário
*.kicad_prl
*.plotacao

# Backups automáticos
*-backups/

# Histórico/local cache
.history/

# =========================================================
# SISTEMA
# =========================================================

Thumbs.db
Desktop.ini


# =========================================================
# LOGS
# =========================================================

*.log